/* Add slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* src/App.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.nav-links span {
  margin: 0 10px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}
